*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Data Folder with source CSV
data/Fire_Incidents.csv

# Sensitive Information
database.ini

# DBT Virtual Environment
fire_incidents_transform/env-dbt/

# DBT Running Logs
fire_incidents_transform/logs/

# DBT Compilation
fire_incidents_transform/target/